#postcard{
    width:75%;
    margin:10px 40px;
}
#userinfo{
    display:flex;
    width:100%;
}
#userimg{
width:18%;
border-color: black;
height:40px;

}
.username{
    font-weight: 500;
}

.hr{
    display: none;
}
#save{
    margin:0px 50%;
}
@media screen and (max-width:600px) {
    #postcard{
        width:90%;
        margin:auto;
        
    }
    #userinfo{
        display:flex;
        width:100%;
    }
    #userimg{
    width:18%;
    border-color: black;
    height:60px;
    
    }
    .username{
        font-weight: 500;
        margin: 10px 0px;
    }

    .hr{
        display: block;
    }
    #save{
        margin:0px 40%;
    }
    
}