.profile-box{
    display:flex;
    width:100%;
    height:70px;
    
}
#followbtn{
margin:0px 35%;
background-color:black;
color:white;
position: absolute;
left: 10%;
right: auto;
height:40px;
width:10%;

}
#followbtn:hover{
         
    background-color:gray;
color:white;
      }

@media screen and (max-width:600px) {
    .profile-box{
        display:flex;
        width:100%;
        height:70px;
        
    }
    .user-info{
        width: 100%;
    }
    #followbtn{
    
        width:auto;
        position: absolute;
        left: 30%;
        right: auto;
        height:40px;
        }

    #followbtn:hover{
         
    background-color:gray;
color:white;
      }
        
}