.profile-box{
    display:flex;
    width:100%;
    height:70px;
    
}
#followbtn{
margin:0px 35%;
background-color:black;
color:white;
width:38%;
height:40px;
}
#followbtn:hover{
         
    background-color:gray;
color:white;
      }

@media screen and (max-width:600px) {
    .profile-box{
        display:flex;
        width:100%;
        height:70px;
        
    }
    #followbtn{
        margin:0px 30%;
        width:38%;
        height:40px;
        }

    #followbtn:hover{
         
    background-color:gray;
color:white;
      }
        
}